---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, BASE } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

//where the blogs are sorted --add tags and search?
const posts = (await getCollection('blog')).sort(
	(a, b) => 
			( (b.data.pubDate ? b.data.pubDate.valueOf() : 1) - (a.data.pubDate ? a.data.pubDate.valueOf() : 1 )) 
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

		<style>

      

			ul {
				list-style-type: none;
				padding: unset;
			}

			ul li {
				display: grid;
				grid-template-columns: 12ch 40ch 20ch;
			}

			ul li :global(time), ul li span, ul p {
				font-style: italic;
				color: #595959;
			}

			ul li span {
				/* justify-self: center; */
			}

			ul li a:visited {
				/* color: #8e32dc; */
			}

			ul p {
				/* text-indent: 3em; */
				margin-left: 3em;
				font-size: .8em;
			}

      .category {
        color: var(--category-color);
      }

      #blog-category-search {
        align-self: center;
        background-color: #303030;
        border: none;
        border-radius: 2ch;
        color: orange;
        resize: none;
        padding: .1em;
        text-align: center;
        width: 80ch;

      }
      
      #blog-category-search:focus {
        background-color: #3f3f3f;
        outline: 0;
        color: #b0d0d0;
        
      }

      #blog-category-search::placeholder {
        color: #badada;
      }

      #blog-category-search:focus::placeholder {
        color: transparent;
      }

		</style>

	</head>
	<body>
		<Header/>

		<main>
			<section>

        <!-- This is the search bar -->
        <input type="search" placeholder="Search" name="category-search" id="blog-category-search"></in>

        <!-- #This is a list of the available blogs -->
				<ul> 
          <li style="border-bottom:solid 3px #30303065;">
            <span><b>Date</b></span>
            <span><b>Title</b></span>
            <span><b>Category</b></span>
            <p><b>Description</b></p>
          </li>
          <br>


          <!-- TODO: add responsive live search here 
              that checks input and searches blog's by category or name -->
          <!-- if nothing in the search then show this -->
					{
						posts.map((post) => (

						  // only show the link if the post is a final draft
							!post.data.draft && 
							
							<li class="blog-post">

								<!--- This is the date or dashes --->
                {post.data.pubDate ? <FormattedDate date={post.data.pubDate} />
								: <span> ----- </span>}

								<!--- This is the Link --->
                <span>
								<a href={`${BASE}blog/${post.slug}/`}>{post.data.title}</a>
                </span>

                <span class="category">{post.data.category ?? post.data.category}</span>
							
              </li>

							<!--- This is the Description --->
							<p>
								{post.data.description}
							</p>

							// :
							// ''

						))

					}
				</ul>
			</section>
		</main>

		<Footer />

	</body>

  <script>
    let searchTerm = document.querySelector("#blog-category-search").textContent;
    let searchResults = document.querySelectorAll(".blog-post");
    console.log(searchTerm)

    searchResults.forEach( (res) =>{
      
      
      console.log(res.innerText);

      console.log(res.innerText.includes(searchTerm))

    })
  </script>
</html>
